*{
    box-sizing:border-box;
}
body{
    margin:0;
}

/*PC屏幕*/
@media screen and (min-width:992px){
    .box{
        background:red;
        color:#fff;
        font-size:14px;
    }
    h1{font-size:2em}
}
/*Pad*/
@media screen and (min-width:768px) and (max-width:991px){
    .box{
        background:green;
        color:#fff;
        font-size:12px;
    }
    h1{font-size:1em}
}
/*phone*/
@media screen and (max-width:767px){
    .box{
        background:yellow;
        color:#fff;
        font-size:10px;
    }
    h1{font-size:1em}
}